*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-body{
  max-width: 500px;
  min-height: 100vh;
  background-color: aqua;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.header{
  /* position: fixed;
  top: 0;
  width: 500px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: aqua; */
}
.header-title{
  text-align: center;
  font-size: 2.5rem;
  overflow: hidden;
}
.header-nav{
  background-color: rgba(0, 0, 255, 0.3);
}
.header-nav-list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.header-nav-list-item{
  width: 100%;
  padding: 2%;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  font-weight: bolder;
  /* background-color: black; */
}
.header-nav-list-item:hover,
.header-nav-list-item:focus,
.header-nav-list-item:active{
  background-color: white;
  color: black;
  cursor: pointer;
}
.post{
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1%;
}
.post h1{
  text-align: center;
  flex-grow: 1;
  /* background-color: wheat; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-post{
  width: 100%;
  /* background-color: white; */
  padding: 0 20px;
  line-height: 2;
  box-shadow: 2px 2px 3px blue;
}
.app-post-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.app-post:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}
.newpost{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.newpost-title{
  text-align: center;
}
.newpost-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 0;
  justify-content: center;
}
.newpost-form p{
  text-align: center;
}
.newpost-form input{
  padding: 10px;
  outline: 0  ;
  border-radius: 5px;
  border: none;
}
.newpost-form textarea{
  outline: 0;
  border-radius: 5px;
  border: none;
  text-indent: 10px;
}
.newpost-form button{
  padding: 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.newpost-form button:active{
  border: 2px solid green;
}
.post-preview{
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  line-height: 2;
  padding: 4%;
}
.post-preview-delete{
  width: 48%;
  padding: 2%;
  background-color: red;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  color: white;
  font-weight: bolder;
}
.post-preview-edit{
  width: 48%;
  padding: 2%;
  background-color: lime;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  color: black;
  font-weight: bolder;
}
.post-preview-delete:active{
  background-color: orange;
  box-shadow: 2px 2px 4px red;
}
.post-preview-edit:active{
  background-color: yellowgreen;
  box-shadow: 2px 2px 4px lime;
}
.btn-group{
  display: flex;
  justify-content: space-between;
}
.form-search{
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
}
.form-search input{
  padding: 5px;
  width: 80%;
  outline: 0;
  border-radius: 2px;
  border: none;
}
.edit-post{
  padding: 20px;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  /* background-color: white; */
}
.about p{
  text-align: justify;
}